.statistics {
    padding-bottom: 10px;
    background: khaki;
  }
  
  .title {
    text-align: center;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0px;
    color: blue;
  }
  
  .statlist {
    display: flex;
    text-align: center;
    margin-top: 15px;
    padding: 0;
  }